/OS Date Sim/log.txt
/OS Date Sim/errors.txt
/OS Date Sim/traceback.txt
/OS Date Sim/game/saves/*
/OS Date Sim/game/cache/*
OS Date Sim/log.txt
OS Date Sim/game/script.rpyc
OS Date Sim/game/cache/bytecode-39.rpyb
OS Date Sim/game/cache/screens.rpyb
OS Date Sim/game/cache/shaders.txt
OS Date Sim/game/saves/auto-1-LT1.save
OS Date Sim/game/saves/auto-2-LT1.save
OS Date Sim/game/saves/auto-3-LT1.save
OS Date Sim/game/saves/auto-4-LT1.save
OS Date Sim/game/saves/auto-5-LT1.save
OS Date Sim/game/saves/auto-6-LT1.save
OS Date Sim/game/saves/auto-7-LT1.save
OS Date Sim/game/saves/auto-8-LT1.save
OS Date Sim/game/saves/auto-9-LT1.save
OS Date Sim/game/saves/auto-10-LT1.save
OS Date Sim/game/saves/navigation.json
OS Date Sim/game/saves/persistent
